body {
  background-color: lightyellow;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 400px;
}

h3 {
  width: 100%;
}

button {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  padding: .4rem;
} 


/* direction input radio */

.direction{  
  width: 125px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.direction h5{
  margin: 0 0 .4rem 0;
  text-align: center;
  width: 100%;
}

.direction input{  
    width: 25%;
}